@import url('https://fonts.googleapis.com/css2?family=New+Rocker&family=Roboto&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a {
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 35px;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
#hero-img {
    width: 100%;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

#background {
    height: 725px;
    background-color:#ffea00;
}

body {
    background-color: #fefffe;
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;

}

header { background-color: #00a8e8;
}

nav a:hover {
    background-color: #271873 ;
    color: #fefffe;
}
.book, .join {
    background-color: #00a8e8;
    color: #271873;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    background-color: #00a8e8;
    color: #fefffe;
}
.msg {
    background-color: #00a8e8;
    line-height: 1.5em;
    padding: 35px;
}
footer {
    padding: 25px 50px;
    background-color: #00a8e8;
    color: #271873
}

footer .social img {
    padding-top: 15px;
}
footer p {
    font-size: 1.2em;
}

footer a {
    color: #271873;
    text-decoration: none;
}

footer p a:hover {
    text-decoration: underline;
}

footer a:hover {
    color: #fefffe;
}

.home-title {
    color: #fefffe;
    font-family: 'New Rocker', 'Bradley Hand', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}

h2 {
    margin: 0;
}

h4 {
    color: black;
}
.msg h2 {
    color: black;
    font-family: 'New Rocker', 'Bradley Hand', sans-serif;
}
.msg p {
    color: black;
    padding-bottom: 15px;
   
   
}
.logo {
    width: 80px;
}
.icon {
    width: 80px;
}

#logo_link {
    padding-top: 5px;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

.card-img {
    border: 10px solid black;
}

.mountains {
   margin-top: 50px;
   margin-bottom: 100px;
}